.task {
  padding: 1em;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(12px + 1vmin);
  width: calc(25rem + 1vmin);
  border-radius: 0.15em;
}
p {
  text-align: left;
  overflow-wrap: break-word;
}

.buttons {
  display: inline-flex;
  flex-direction: row;
}
